@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Poppins;
    font-size: 1rem;
}
h1{
    font-size: 3rem;
    font-family: sans-serif;
    
}
h2{
    font-size: 2rem;
    font-family: Roboto;
}
p{
    font-size: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--para--color);
}
a{
    text-decoration: none;
    


}
i,button{
    cursor: pointer;
}
ul li{
 list-style: none;

}
:root{
    --Primary--Color:#2A3137;
    --secondary--color:#7A848B;
    --heading--color:#FF8807;
    --para--color:#919194;
    --seven--color:#1E4AFA;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* width: 100vw;
   height: 3.5rem;
   position: fixed;
   z-index: 111;
   background-image: url(images/bg.jpeg);
   background-size: cover;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ; */
}

.main-container{
    max-width: 1200px;
    margin: 10px auto;
    background-image: url(images/bg.jpeg);
    background-size: cover;
   
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    
  
}



.logo {


    font-size: 2rem;
    
    font-family: Poppins;
    font-weight: 700;
}
.links ul{
    display: flex;
    gap: 25px;

}

.itemLinks a{
    color: var(--secondary--color);
    font-size: 0.9rem;
    & i{
        font-size: 10px;
        position: relative;
        top: -4px;
        left: 5px;
    }
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: relative;


  & .search-icon{
    position: absolute;
    left: 10px;
  }
 
& input{
    position: relative;
    background-color: transparent;
    border: none;
    width: 9rem;
    height: 2.8rem;
    background-color: #7a848b5d;
    padding: 8px 20px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    text-align: center;
}
}

.btnBox button{
    background-color: #7a848b5d;
    border: none;
    font-size: 1rem;
    height: 2.8r40;
    
    font-family: Poppins;
    font-weight: 400;
    padding: 8px 20px;
    
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    & i{
        color: #1E4AFA;
    }
}
.logo-Brand{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding:  50px 20px 100px 20px;
    
}

.header-box .left-div .VikashLogo{
    width: 25%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.left-div{
    & h1{
        font-size: 4.3rem;
        font-family: Poppins;
        line-height: 0.8;
        margin-top: 30px;
        line-height: 0.9;
    }
    & span{
        color: #FF8807;
    }
    & p{
        font-size: 1.2rem;
        color: var(--Primary--Color);
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        margin: 15px 0;
        /* font-family: s; */
    }
    & button{
        background-color: black;
        width: 11rem;
        height: 3rem;
        font-size: 1rem;
        border: none;
        color: white;
        font-family:sans-serif;
        /*padding:  10px;
        */text-align: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        cursor: pointer;
}

}

.right-div{
  
    & .shoes-png{
       
        width: 100%;
       
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
}
}

.reviews-section{
    background-color: #FF8807;
    height: 6rem;
}

.reviews-box{
    
    
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
.image img{
    width: 50px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.item{
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content{
    color: white;
    text-align: start;

    & h1{
        font-size: 1.7rem;
    }
    & p{
        font-size: 0.7rem;
        color: white;
        font-family:sans-serif ;
        letter-spacing: 1.5px;
        font-weight: 0;
    }
}


.display-box{
   
    display: flex;
   align-items: center;
       
        
    justify-content: space-between;
   
        /* height: 100vh; */
        position: relative;
        /* padding: 0 0 0 50px; */

    }

   

 .display-box .left-div{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.left-div .left-shoes{
   width: 60%;
   margin-top: 0px;
   transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   rotate: -15deg;
 
}
.top-heading{
    /* position: absolute; */
    
    font-size: 15px;
    font-weight: 100;
    color: #2A3137;
    font-family: sans-serif;
}


.display-box .right-div{
    
 
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     /* justify-content: center; */
     padding: 0 0 0 50px;

     & h1{
        font-size: 2rem;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 1.2;
     }
     & p{
        font-size: 16px;
        color:#7A848B;
        text-align: left;
        margin-top: 20px;
     }
}
.price-box{
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    & .price{
        background-color: #d6ddf8af;
        color: #1E4AFA;
        padding: 13px 30px;
        font-weight: 700;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

& .off-box{
    color: rgb(35, 255, 35);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1;
}
& a{
    line-height: 0;
    color: #2A3137;
    font-size: 0.8rem;
}
}

.btn-box{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 2rem;

    & .quantity{
        background-color: rgba(216, 250, 250, 0.459);
        padding: 10px 20px;
        border-radius: 7px;
        color: #2A3137;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

& button{
    background-color: #FF8807;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Poppins;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-images img{
    width: 80px;
   
}
.item-images .big-shoes{
    width: 50px;
}

/* ? Shopping Style Start */


.shopping-box{
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
  /* margin-top: 10%; */
  /* height: 100vh; */
}


 .shop-heading{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Poppins;
    text-transform: capitalize;
    
}

.Continue-head{
    
   
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
}
.left-div
{
    margin-top: 0;
  
    & .name-price-last{
        margin-top: 10%;
    }
}
    
.product-details{
    border-bottom: 1px solid #919194;
    padding: 10px 20px;
    margin-top: 5%;
     & ul{
        display: flex;
        /* justify-content: space-between; */
        gap: 8rem;
        color: #919194;
     }
}
.product-details ul li:nth-child(2){
    margin-left: 60px;
}

.name-price{
    padding: 10px 20px;
    & ul{
        display: flex;
        gap: 5rem;
        color: #2A3137;
        font-weight: 400;
    }
}

.name-price ul li:nth-child(3){
    margin-left: 70px;
}
.fa-xmark{
    color: red;
}


.right-div{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
   
}

.buy-box{
    & h1{
      font-size: 1rem;
      

    }
}
.buy-box .coupon-box-btn{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 10px;
    align-items: center;
    & input{
        background-color: #ffff;
        padding: 15px 0px;
        font-size: 13px;
        text-align: center;
        border: 1px solid #919194;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
& button{
    background-color: #1E4AFA;
    padding: 15px 20px;
    color: white;
    font-size: 13px;
    text-align: center;
    border: 1px solid #919194;
    border-radius: 5px;
    border: none;
}
}


.sub-total{
    margin-top: 20px;
}


.sub-total ul{
    display: flex;
    margin-top: 13px;
    
    justify-content: space-between;
    & li{
        font-size: 0.8rem;
        color: #7A848B;
    }
}
.sub-total .last{
    & li{
        font-weight: 500;
        color: black;
        font-size: 20px;
    }
}

.right-div .pay-now-btn{
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 20px;
    background-color: #FF8807;
    color: #fff;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.right-div div .razor-pay{
   width: 100%;
   margin-top: 20px;
}




/* ??  last */

.payment-box{
    display: flex;
    justify-content: space-between;
    /* height: 100vh; */
    
}





.right-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

     & .buy-box{
        margin-top: 30px;
        background-color: #cccccf;
        padding:30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        color: black;
}

& .razor-image
{
    display: flex;
    justify-content: center;
    align-items: center;
} .razor-pay {
    text-align: center;
    width: 40%;
    margin-top: 30px
}

& .pay-now-btn{
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 20px;
    background-color: #FF8807;
    color: #fff;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
    & h1{
        font-size: 1.5rem;
        text-align: center;
    }
}






.left-container{
    width: 60%;
    border: none;
       .sub-heading{
           font-size: 1rem;
       }
       h1{
           font-size: 1.3rem;
       }
       .Men-heading{
           font-size: 1.3rem;
           margin-top: 40px;
       }
       .pay-heading{
        margin-top: 20px;
       }
      .email-input{
           width: 100%;
           border: 0.2px solid #7A848B;
           border-radius: 10px;
           padding: 10px;
           -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
           -ms-border-radius: 10px;
           -o-border-radius: 10px;
   }
   }

   .payment-details{
    margin-top: 15px;
   
    padding: 10px 20px;

    input{
        width: 100%;
        width: 100%;
        border: 0.2px solid #7A848B;
        border-radius: 10px;
        padding: 10px;
    }
   }

   .card-info{
    display: flex;
    margin: 20px 0;
    align-items: center;
   
    gap: 20px;
    input{
        width: 100%;
    }
    .card-fulfill{
        width: 50%;
    }
    
}    

.cards-icons{
    
    margin: 20px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
   
}

.item-icons{
    border: 1px solid #919194;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 0.6rem;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
     
    p{
        font-size: 1rem;
        color: black;
    }
    
    i{
        font-size: 1.7rem;
    }
}



.item-icons:first-child{
   
    border: 1px solid #FF8807;

    i,p{
        color: #FF8807;
    }
}




footer {
    /* margin-top: 100px; */
    background-color: #FF8807;
    color: #fff;
    padding: 20px 0;
    /* position: fixed; */
  height: auto;
    width: 100%;
    bottom: 0;
    
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;

    .footer-heading{
        font-size: 1rem;
        font-family: Poppins;
        color: white;
        font-weight: 700;
    }
    .footer-secound-heding{
        font-size: 0.8rem;
        font-family: Poppins;
        color:#2A3137;
        font-weight: 700;
        
    }
    a{
        color: #1E4AFA;
        font-family: Poppins;
      
        font-weight: 700;
    }
  }
  
  .footer-link {
    /* font-size: 2rem; */
    color: #ffa500;
    text-decoration: none;
    margin: 0 5px;
    font-family: Arial, sans-serif;
  }